<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <!-- If slave tasks folder is empty a folder will be generated. Usefull for clients that share the same folder-->
    <add key="SlaveTasksFolder" value=""/>
    <add key="EnableMasterCreatorsPing" value="false"/>

    <!--<add key="UrlBase" value="http://frmitch-vradt1:82/"/>-->
    <add key="UrlBase" value="http://frmitch-ditd101:82/"/>
  </appSettings>
</configuration>
