<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <appSettings>
    <add key="ListeningUrl" value="http://frmitch-ditd101:82/"/>
    <add key="TasksRepository" value="C:\Git\GridComputing\release\tasks"/>
    <add key="ExpirationPeriodSeconds" value="50"/>
    <add key="ExpirationCheckingIntervalSeconds" value="10"/>
    <add key="EnableTrace" value="true"/>
    <add key="EnableMasterCreatorsPing" value="false"/>
    <add key="CheckCancelAbuse" value="false"/>
    <add key="UseIpcChannel" value="true"/>
  </appSettings>
</configuration>
